/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


html	{
	background: aaa;
}
#header	{
 		background: fff;
 		height: 20px;
 		padding: 2px;
 }
 
 body	{
 		background: aaa;
 }

/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

body	{
		font-size: large;
		background: grey;
	} 	
/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


html	{
		color: #123;
 		background: rgb(0,128,128);
 		margin: 0;
 		padding: 5px;
 		font-family: "Lucida Grande", Verdana, Lucida, Arial, Helvetica, sans-serif;
}

