/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */
/*
home.scss
*/
/* background colors */
/* font colors */
body {
  color: #ffb579;
  background: #2ba0b2;
  font-family: Courier, monospace;
  font-size: 15px;
  line-height: 18px;
  padding: 3px 10px; }
  body #content {
    width: 960px;
    background: #81edff;
    margin: 15px 5px; }
    body #content #header {
      color: #ff7b0f;
      background: #83d6ff;
      float: left;
      font-weight: bold;
      height: 20px;
      padding-left: 10px;
      width: 950px; }
    body #content #main {
      color: #5a4b30;
      padding: 30px 20px;
      float: left;
      width: 600px;
      height: 400px;
      padding: 0 5px;
      margin: 0 5px;
      -webkit-border-image: url(http://www.w3.org/TR/css3-background/border.png) 30 30 stretch;
      /* Safari 5 */
      -o-border-image: url(http://www.w3.org/TR/css3-background/border.png) 30 30 stretch;
      /* Opera */
      border-image: url(http://www.w3.org/TR/css3-background/border.png) 30 30 stretch;
      margin-top: 10px; }
      body #content #main #profile {
        width: 120px;
        float: left;
        font-size: 20px; }
      body #content #main #info {
        width: 400px;
        float: right;
        font-family: 'Merienda', cursive; }
    body #content #sidebar {
      background: #2ba0b2;
      color: #ffe28a;
      width: 295px;
      float: right;
      padding: 12px;
      margin: 10px 10px 10px 5px; }
  body .image {
    text-align: center; }
  body .clear {
    clear: both; }
  body h1 {
    text-align: center;
    font-size: 18px; }

/*
blues:
2BA0B2
9AF1FF
81EDFF
browns:
B27848
FFB579
*/
/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
