/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */
/*
html	{
	background: eee;
}

#header	{
 		background: eee;
 		height: 20px;
 		padding: 2px;
 }
 
 body	{
 		background: aaa;
 }
 
 html	{
		color: #123;
 		background: rgb(0,128,128);
 		margin: 0;
 		padding: 5px;
 		font-family: "Lucida Grande", Verdana, Lucida, Arial, Helvetica, sans-serif;
}
*/

/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


body	{
		color: #FFB579;
		background: #2BA0B2;
		font-family: Courier, New, monospace;
		font-size: 15px;
		padding: 10px;
		line-height: 18px;
}

#content	{
		width: 960px;
		padding: 10px;
		margin: 10px 5px;
		background: #81EDFF;
		margin: 15px auto;
}

#header	{
 		color: #FF7B0F;
 		background: #9AF1FF;
 		width: 960px;
 		float: left;
 		font-size: 13px;
 		font-family: Verdana, sans-serif;
 		font-weight: bold;
 		height: 20px;
 		margin: 0px;
 }
 
 #main	{
 		padding: 30px 20px;
 		width: 600px;
 		height: 400px;
 		float: left;
 		color: #5A4B30;
 }
 
 #sidebar	{
 		background: #2BA0B2;
 		color: #FFE28A;
 		width: 250px;
 		float: right;
 		padding: 12px;
 }

 
 .image	{
 		text-align: center;
 }
 
 #profile	{
		width: 120px;
		float: left;
		font-size: 20px;
		margin: 20px 0px;
}

#user_info	{
		width: 450px;
		float: right;
		margin: 20px 0px;
}
 
.clear	{
 		clear: both;
 }
 
 .title	{
 		text-align: center;
 		font-weight: bold;
 		font-size: 18px;
 }
 
 */
 blues:
 2BA0B2
 9AF1FF
 81EDFF
 browns:
 B27848
 FFB579
 /*
/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
