/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */
/*
html	{
	background: eee;
}

#header	{
 		background: eee;
 		height: 20px;
 		padding: 2px;
 }
 
 body	{
 		background: aaa;
 }
 
 html	{
		color: #123;
 		background: rgb(0,128,128);
 		margin: 0;
 		padding: 5px;
 		font-family: "Lucida Grande", Verdana, Lucida, Arial, Helvetica, sans-serif;
}
*/

/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
body {
  color: #ffb579;
  background: #2ba0b2;
  font-family: Courier, monospace;
  font-size: 15px;
  padding: 10px;
  line-height: 18px; }
  body #content {
    width: 960;
    padding: 10px;
    margin: 10px 5px;
    background: #81EDFF;
    margin: 15px auto; }
    body #content #header {
      color: #FF7B0F;
      background: #9AF1FF;
      width: 960;
      float: left;
      /*font-family: Courier, monospace;font-family: 'Sofia', cursive; Verdana, sans-serif;*/
      font-weight: bold;
      height: 20px;
      margin: 0px; }
    body #content #main {
      padding: 30px 20px;
      width: 640;
      height: 400px;
      float: left;
      color: #5A4B30; }
      body #content #main #profile {
        width: 213.33333;
        float: left;
        font-size: 20px;
        margin: 20px 0px; }
      body #content #main #info {
        width: 426.66667;
        float: right;
        margin: 20px 0px;
        font-family: 'Merienda', cursive; }
    body #content #sidebar {
      background: #2ba0b2;
      color: #FFE28A;
      width: 320;
      float: right;
      padding: 12px; }
  body .image {
    text-align: center; }
  body .clear {
    clear: both; }
  body .title {
    text-align: center;
    /*font-weight: bold;*/
    font-size: 18px; }

/*
blues:
2BA0B2
9AF1FF
81EDFF
browns:
B27848
FFB579
*/
/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
