/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

$darkblue: #FFB579;
$teal: #2BA0B2;
$wide: 960;


body	{
	color: $darkblue;
	background: $teal;
	font-family: Courier, monospace;
	font-size: 15px;
	padding: 10px;
	line-height: 18px;
	#content	{
		width: 960px;
		padding: 10px;
		margin: 10px 5px;
		background: #81EDFF;
		margin: 15px auto;
		#header	{
			color: #FF7B0F;
			background: #9AF1FF;
			width: 960px;
			float: left;
			font-weight: bold;
			height: 20px;
			margin: 0px;
		}
		#main	{
			padding: 30px 20px;
			width: 600px;
			height: 400px;
			float: left;
			color: #5A4B30;
			#profile	{
				width: 120px;
				float: left;
				font-size: 20px;
				margin: 20px 0px;
			}
			#info	{
				width: 450px;
				float: right;
				margin: 20px 0px;
				font-family: 'Merienda', cursive;
			}
		}
		#sidebar	{
			background: $teal;
			color: #FFE28A;
			width: 250px;
			float: right;
			padding: 12px;
		}
	}
	.image	{
		text-align: center;
	}
	.clear	{
		clear: both;
	}

	.title	{
		text-align: center;
		/*font-weight: bold;*/
		font-size: 18px;
	}
} 
 /*
 blues:
 2BA0B2
 9AF1FF
 81EDFF
 browns:
 B27848
 FFB579
 */